<div class="mat-elevation" style="width: 30%; padding: 30px; margin: 50px auto; display: flex; justify-content: center;">
<form [formGroup]="formUsuarioE">
    <div class="flex">
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>apellidos</mat-label>
            <input matInput formControlName="apellidos">
          </mat-form-field>

          <mat-form-field>
            <mat-label>cedula</mat-label>
            <input matInput formControlName="cedula">
          </mat-form-field>

          <mat-form-field>
            <mat-label>correo</mat-label>
            <input matInput formControlName="correo">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Fecha_Acceso</mat-label>
            <input matInput formControlName="Fecha_Acceso">
          </mat-form-field>          
    </div>

    <div class="flex">
        <button mat-flat-button color="primary" (click)="guardar()">
            <mat-icon>Guardar</mat-icon>
        </button>

        <button mat-flat-button color="warn" (click)="volver()" style="margin-left: 8px;">
            <mat-icon>Volver</mat-icon>
        </button>


    </div>
</form>
</div>
